@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply bg-yellow-500;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.name-container {
  @apply flex flex-col justify-center items-center h-screen;
}

.nameinput {
  @apply h-8 w-44 pl-2 mb-2 bg-yellow-100;
}

.btn {
  @apply bg-black text-yellow-500 h-8 
  w-44 text-lg hover:border-2 hover:border-black 
  hover:bg-yellow-500 hover:text-black;
}

.main-container {
  @apply flex flex-col justify-center items-center h-screen;
}

.display-container {
  @apply w-4/5 h-auto bg-green-300 flex flex-col justify-between;
}

.button-container {
  @apply flex justify-between mt-4;
}

.main-container {
  @apply bg-green-600;
}

:root {
  --form-control-color: rgb(22 101 52);
}

.form-control {
  font-family: system-ui, sans-serif;
  font-size: 18px;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

input[type="radio"] {
  /* ...existing styles */
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

.btn2 {
  @apply bg-black text-green-700 h-8 
  w-44 text-lg hover:border-2 hover:border-black 
  hover:bg-green-300 hover:text-black mt-6;
}